//  ============================================================================= 
//  Variables for Overall Style
//  =============================================================================

$main-bg-color: #fff;

$main-font-color: #6f6f6f;

$main-red: #E70C30;

$new-red: #ED1B2C;

$second-heading-color: #ec0928;

$red-font: #e90129;

$mainGray: #58595b;

$dinReg: DINWeb;

$dinLight: DINWeb-Light;

$dinBold: DINWeb-Bold;

$proximaLight: 'proxima_nova_ltlight';

$proximaBold: 'proxima_nova_rgbold';

$proximaReg: 'proxima_nova_rgregular';

$white: #fff;

$cdn: '//cdn.blendtec.com';

$cloudfront: "//cdn.blendtec.com";

$local_image: "../img";