//  ============================================================================= 
//  Variables for Overall Style
//  =============================================================================

$main-bg-color: #fff;

$main-font-color: #6e6f74;

$main-heading-color: #6D6F72;

$main-red: #EB2134;

$button-red: #EA2436;

$mainGray: #6D6F72;

$lightGray: #b3b3b3;

$dinReg: DINWeb;

$dinLight: DINWeb-Light;

$dinBold: DINWeb-Bold;

$proximaLight: 'proxima_nova_ltlight';

$proximaBold: 'proxima_nova_rgbold';

$proximaReg: 'proxima_nova_rgregular';

$white: #fff;

$cdn: '//cdn.blendtec.com';

$local_image: "/images";