//  ============================================================================= 
//  Top Banner
//  =============================================================================

.top-banner {
	margin-top: 15px;
	border-bottom: 1px solid #b1b1b1;
	border-right: 1px solid #b1b1b1;
	border-left: 1px solid #b1b1b1;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
}
