$main-bg-color: #ffffff;
$main-font-color: #6d6f72;
$second-heading-color: #ec0928;
$red-font: #e90129;

html, body {
	font-size: 14px;
	height: 100%;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-family: $proximaLight, sans-serif;
	color: $main-font-color;
	background-color: $main-bg-color;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	color: $main-heading-color;
	font-weight: lighter;
	margin-top: 0px;
	font-family: $dinBold, sans-serif;

	a {
		color: $main-heading-color;

		&:hover, &:visited, &:active {
			color: darken($main-heading-color, 10%);
		}
	}
}

a {
	color: $main-red;

	&:hover, &:active {
		color: darken($main-red, 10%);
	}
}

h1 {
	@include font-size(3.08);
	@include line-height(3.45);
}
h2 {
	@include font-size(2);
	@include line-height(2.2);
}
h3 {
	@include font-size(1.57);
	@include line-height(1.75);
}
h4 {
	@include font-size(1.08);
	@include line-height(1.23);
}

input, textarea, p {
  font-family: $proximaLight, sans-serif;
}

label {
	margin-bottom: 3px;
	font-size: 16px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0px;
}
