//  ============================================================================= 
//  Sidebar Styles
//  =============================================================================

@import "sidebar_email_signup";


.sidebar {
	&--section-header {
		font-family: $dinBold;
		text-transform: uppercase;
		color: $mainGray;
		margin-bottom: 5px;
		margin-top: 25px;
	}

	&--category-list {
		padding: 10px 0 0;
		border-top: 2px solid $lightGray;
		margin: 0;
		list-style: none;
		.cat-item {
			border-bottom: 1px solid $lightGray;
			padding: 8px 0 9px;
			font-family: $proximaLight;
			@include font-size(1.05);
			color: $main-red;
		}
	}

	&--social-list--ul {
		list-style: none;
		display: inline-block;
		width: 100%;
		padding: 0;
		margin: 0;

		li {
			@include span(1 of 7 inside);
			text-align: center;
			a span {
				@include font-size(2);
			}
		}
	}

	&--search-form {
		
	}
}
