//  ============================================================================= 
//  Styles for the Content Archive Layout
//  =============================================================================
.archive--single-post-item {
	margin-bottom: 35px;
	border-bottom: 2px solid $mainGray;
	padding: 0 0 45px;

	&:last-child {
		border: none;
	}
	&--featured-image {
		width: 100%;
	}
	&--image-wrap a {
		width: 100%;
		display: block;
	}
	&--image-wrap img.wp-post-image {
		width: 100%;
		@include border-radius(0px);
		box-shadow: none;
	}

	&--post-title {
		@include font-size(2.4);
		@include line-height(2.6);
		margin-top: 30px;
		margin-bottom: 0;
	}

	&--post-meta {
		text-transform: uppercase;
		font-family: $proximaBold;
		@include font-size(1);
		margin-top: 20px;
	}
	&--post-date {
		color: $main-red;
	}
	&--author {
		color: $main-red;
	}

	&--post-excerpt {
		@include font-size(1.08);
		color: $main-font-color;

		p {
			margin-top: 5px;
		}

		.post-excerpt {
			margin-bottom: 15px;
		}
		.btblog--cta-button {
			margin-top: 30px;
		}
	}

	
}
