#commentform textarea{
width:97.2% !important;
	}

.bg-footer .span3 {
border: 0 2px 0 0;
border-style: solid;
border-color: #CB5848;
float: left;
}

.bg-footer .social li {
    display: block !important;
    float: left !important;
    margin-right: 5px;
    width: 32px;
}