@import 'modules/bootstrap-interface';
@import "modules/mixins-custom";
@import "modules/blendtec_variables";
@import "common/fonts";

@import 'modules/globals';

$main-font-color: #6d6f72;
$white: #fff;
$red-font: #e90129;

/*******************************************************************************
 Responsive redesign stuff
*******************************************************************************/
body > .container-fluid, .row-fluid.top-level {
	max-width: 1200px;
	margin: 0 auto;
}

.row-fluid {
	max-width: 940px;
	margin: 0 auto;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}

	.row-fluid.top-level > .span12 {
		padding-left: 20px;
		padding-right: 20px;
	}
}
//  ============================================================================= 
//  Main Navigation
//  =============================================================================

@import "modules/navigation";

/*******************************************************************************
 Share this social links
*******************************************************************************/
ul.social-links {
	margin: 0px;
	list-style: none;
	margin-top: 10px;
	max-width: 300px;
	float: right;
}

@media (max-width: 767px) {
	ul.social-links {
		margin: 0 auto;
		margin-top: 10px;
	}
}

ul.social-links li {
	display: inline-block;
	margin-right: 4px;
}

ul.social-links li .btn {
	vertical-align: text-bottom;
}



/*******************************************************************************
 Use this for the background images that are are larger than the 940px width
 of boostrap grid. For the first one on top use bg-image-top to get the
 padding for the nav.

 Example:
	<div class="bg-image bg-image-top">
		<div class="container">
			test
		</div>
	</div>
*******************************************************************************/
.bg-image {
	background-color: transparent;
	margin: auto;
	background-repeat: no-repeat;
	background-position: top center;
}

.bg-image-top {
	padding: 80px; /* Height of the top nav */
}

.main-nav-padding {
	padding-bottom: 80px;
}

.bg-last {
	padding-bottom: 60px;
}

/*******************************************************************************
 Footer
******************************************************************************/
footer.wrap {
  background-color: $white;
  border: 1px solid #e6e7e9;

}
.bg-footer {
  background-image: none;
  width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px ){
    width: 100%;
  }
}
.bg-footer {
  color: #ffffff;
  clear: both;
  .container {
    padding: 0;

    .footer div {
      &:first-child {
        @media (min-width: 769px) {
          padding-left: 0;
        }
      }
      &:last-child {
        @media (min-width: 769px) {
          padding-right: 0;
        }
        
      }
    }
  }
  .copyright {    
      color: #000000;
      font-size: 12px;
      margin-bottom: 0;
      padding-left: 0;
      text-transform: uppercase;
  }
  a {
    color: #000000;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;

    }
  }
  h5 {
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
    margin: 0px 0px 5px;
    text-transform: uppercase;
  }
  ul {
    font-size: 9pt;
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      line-height: 20px;
    }
  }
  .social {
    li {
      display: inline-block;
      margin-right: 3px;
      
    }
    a {
      display: block;
      width: 37px;
      height: 39px;
      overflow: hidden;
      span {
        display: none;
      }
      &.pinterest {
        background-image: url('../images/social_sprite.png');
        background-position: -118px -1px;
      }
      &.facebook {
        background-image: url('../images/social_sprite.png');
        background-position: -1px -1px;
      }
      &.youtube {
        background-image: url('../images/social_sprite.png');
        background-position: -78px -1px;
      }
      &.twitter {
        background-image: url('../images/social_sprite.png');
        background-position: -38px -1px;
      }
      &.google {
        background-image: url('../images/social_sprite.png');
        background-position: -156px -1px;
      }
      &.instagram {
        background-image: url('../images/social_sprite.png');
        background-position: -196px -1px;
      }
    }
  }
}

@media (min-width: 768px) {
  .bg-footer {
    height: 257px;
    min-height: 257px;
    background-repeat: no-repeat;
    background-position: center;
    .footer {
      padding-top: 20px;
    }

  }
}

@media (max-width: 768px) {
  .footer.row-fluid {
    margin: 0;
    max-width: none;
  }

  .three-column {
    padding: 0;
    .list-container {
      padding: 0;    
    }
  }

  .social-container {
    margin-top: 10px;
  }
  .list-container, .social-container {        
    margin-top: 2px;        
    

    h5 {
      background-color: $red-font;
      padding: 10px 0 10px 10px;
      margin: 0;
      color: $white;
      font-weight: normal;
    }
    a.clickable {
      color: $white;
    }

    ul {
      padding: 0 15px;
      margin: 5px 0 0;

      li a {
        color: $red-font;
      }
    }
  }
  .social-container {
    padding: 0;
    margin: 2px 0 0 0;
    width: 100%;
  }

  .footer .mobile-closed {
    display: none;
  }

}
.accordion.footer-mobile {
	margin-bottom: 0;
}

.footer-mobile div.accordion-heading {
	background-color: #be2e1a;
}

.footer-mobile .accordion-inner {
	background-color: #f5f5f5;

}

.footer-mobile a {
	color: #d7d7d7;
}

.footer-mobile .accordion-heading a:hover {
	color: #ffffff;
}

.footer-mobile .accordion-inner ul li a {
	color: #be2e1a;
}

.footer-mobile .accordion-inner ul li a:hover {
	color: #e23d28;

}

div#modalProduct.modal {
	width: auto !important;
}

div#modalProduct.modal .modal-body {
	width: auto !important;
	max-height: 820px !important;
}

div#modalProduct.modal .modal-header {
	border: 0;
}

